@import "tailwindcss";

.center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: auto;
    border: 1px solid white;
    margin-top: 20px;
}
.spacer{
    height: 20px;
}
.input-group{
  width: 30%;
}